@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #500724;
    overflow-x: hidden;
}

.dotted {
    background-image: radial-gradient(#939393 2px, transparent 2px);
    background-size: 15px 15px;
    background-color: rgba(255, 255, 255, 0);
}

.i-am-gradient {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 60%),
        url('/images/yujin/yujin-i-am.jpg');
    background-size: cover;
    height: 400px;
    border-radius: 0.5rem;
}

.yujin-hero {
    @media (max-width: 768px) {
        background-position: 75%;
    }
}

.wonyoung-hero {
    @media (max-width: 768px) {
        background-position: 27%;
    }
}

.gaeul-hero {
    @media (max-width: 768px) {
        background-position: 35%;
    }
}

.big-card {
    border-radius: 2vmin;
}

/* Upload button */

.upload:hover {
    box-shadow: none;
    color: white;
}

.upload {
    border: solid 3px transparent;
    background-image: linear-gradient(to top right, #bff593, #95ec08);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px black inset;
    transition: 300ms ease-in-out;
    max-width: 100%;
}

.upload-gaeul {
    border: solid 3px transparent;
    background-image: linear-gradient(to top right, #3d69e4, #0b0ff3);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px black inset;
    transition: 300ms ease-in-out;
    max-width: 100%;
}

.upload-wonyoung {
    border: solid 3px transparent;
    background-image: linear-gradient(to top right, #f34848, #f30303);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px black inset;
    transition: 300ms ease-in-out;
    max-width: 100%;
}

.upload-liz {
    border: solid 3px transparent;
    background-image: linear-gradient(to top right, #a3f5f5, #1fc4ca);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px black inset;
    transition: 300ms ease-in-out;
    max-width: 100%;
}

.upload-yujin {
    border: solid 3px transparent;
    background-image: linear-gradient(to top right, #f08fca, #f3145e);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px black inset;
    transition: 300ms ease-in-out;
    max-width: 100%;
}

.upload-leeseo {
    border: solid 3px transparent;
    background-image: linear-gradient(to top right, #eaf17b, #faf61b);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px black inset;
    transition: 300ms ease-in-out;
    max-width: 100%;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
