@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #500724;
}

body {
    background-color: #500724;
    overflow-x: hidden;
}

.big-card {
    border-radius: 2vmin;
}

/* Upload button (gallery) */

.upload:hover {
    box-shadow: none;
    color: white;
}

.upload {
    border: solid 3px transparent;
    background-image: linear-gradient(to top right, #bff593, #95ec08);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px black inset;
    transition: 300ms ease-in-out;
    max-width: 100%;
}

.upload-gaeul {
    border: solid 3px transparent;
    background-image: linear-gradient(to top right, #3d69e4, #0b0ff3);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px black inset;
    transition: 300ms ease-in-out;
    max-width: 100%;
}

.upload-wonyoung {
    border: solid 3px transparent;
    background-image: linear-gradient(to top right, #f34848, #f30303);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px black inset;
    transition: 300ms ease-in-out;
    max-width: 100%;
}

.upload-liz {
    border: solid 3px transparent;
    background-image: linear-gradient(to top right, #a3f5f5, #1fc4ca);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px black inset;
    transition: 300ms ease-in-out;
    max-width: 100%;
}

.upload-yujin {
    border: solid 3px transparent;
    background-image: linear-gradient(to top right, #f08fca, #f3145e);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px black inset;
    transition: 300ms ease-in-out;
    max-width: 100%;
}

.upload-leeseo {
    border: solid 3px transparent;
    background-image: linear-gradient(to top right, #eaf17b, #faf61b);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px black inset;
    transition: 300ms ease-in-out;
    max-width: 100%;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.gradient-1 {
    background: linear-gradient(
        180deg,
        rgba(188, 165, 255, 0) 0%,
        #bebdbd 100%
    );
    filter: blur(240px);
}

.gradient-2 {
    background: linear-gradient(90deg, #500b88 0%, #580970 100%);
    filter: blur(500px);
}

/* MINIVE cards */

.card {
    width: 250px;
    height: 200px;
    perspective: 2500px;
    margin-bottom: 14rem;
    cursor: pointer;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
}

.card:hover .wrapper::before,
.wrapper::after {
    opacity: 1;
}

.card:hover .wrapper::after {
    height: 120px;
}

.character,
.character-yujin,
.character-rei,
.character-wonyoung,
.character-liz {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}

.card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}

.card:hover .character-yujin {
    opacity: 1;
    transform: translate3d(0%, -38%, 100px);
}

.card:hover .character-liz {
    opacity: 1;
    transform: translate3d(0%, -40%, 100px);
}

.card:hover .character-rei {
    opacity: 1;
    transform: translate3d(0%, -38%, 100px);
}

.card:hover .character-wonyoung {
    opacity: 1;
    transform: translate3d(0%, -40%, 100px);
}
